.about-me,
h1.who,
h2,
h5,
h6,
p,
ul {
  font-family: Arial, sans-serif;
}
.who {
  text-align: center;
}

.about-me {
  /* max and margin are responsible for centering the text */
  max-width: 800px;
  margin: 0 auto;
  /* styling */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
