/* i moved this code from about.css since i the techincal section over as well*/
.tech-tools {
  text-align: center;
}
.tech-stack {
  text-align: center;
  padding-left: 20px;
}
.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}
/* display, flex, and justify used to center the image */
.tech-item {
  background-color: #d9d9d9;
  border-radius: 30px;
  /*display,flex,just,padding*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* attempting to restrict size of the gray box */
  max-width: 160px;
  max-height: 155px;
}

.tech-item img {
  /* max-width allows us to adjust image size */
  max-width: 50px;
  margin-bottom: 4px;
  margin-top: 4px;
  /* padding-left: 20px; */
}

/* this file is somewhat similar to About.css however the grid 
* and items here should be more responisbe */
.project {
  text-align: center;
}

.welcome-prompt {
  text-align: center;
}
/* the 'Nice' comments allowed us to acheieve a responsive layout  */
.project-grid {
  display: grid; /* Nice! */
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Nice! */
  gap: 10px;
  padding: 10px;
}

.project-item {
  padding: 20px;
  box-sizing: border-box; /* Nice! */
  display: flex; /* Nice! */
  flex-direction: column;
  align-items: center; /* Nice! */
}

.project-item img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
/* main image */
.wallpaper-container-project {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.wallpaper-photo-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
