.layout-container {
  display: flex;
  padding: 20px;
  justify-content: space-between; /* space between profile-card ad main-content */
  width: 100%; /* Ensure full width */
}

.profile-card {
  flex: 0 1 300px; /* allow  */
  margin-right: 20px; /* Add space between KitchenSinkExample and MainContent */
}

.main-content-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Contact Info Card */

.profile-image {
  width: 250px; /* Set a specific width for the profile picture */
  height: 250px; /* Ensure the height matches the width */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
  border-radius: 20%; /* Make the image circular */
}

.logos {
  width: 25px; /* Set a specific width for the profile picture */
  height: 25px; /* Ensure the height matches the width */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
  border-radius: 20%; /* Make the image circular */
  /* following lines space logo from text*/
  margin-right: 10px;
  vertical-align: middle;
}
